@font-face {
  font-family: TieRegular;
  src: url(fonts/Tie-Regular.woff);
}

body {
  font-family: TieRegular;
  background: #006EB8;
  color: #fff;
  margin: 0.5em;
  overflow: hidden;
  font-size: 16px;
  height: 100vh;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,666666+25,474747+39,2c2c2c+50,000000+51,111111+60,2b2b2b+76,1c1c1c+91,131313+100;Black+Gloss+%231 */
  background: rgb(76,76,76); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
}

a:link, a:visited, a:hover, a:active {
  text-decoration: underline;
  color: #edeeef;
  letter-spacing: 0.125em;
  text-transform: uppercase;
}

a:hover {

}

h1 {
  font-size: 28px;
  margin: 0;
  letter-spacing: 0.125em;
  text-transform: uppercase;
  margin-bottom: 0.125em;
}

h2 {
  font-size: 16px;
  margin-bottom: 0.25em;
  line-height: 1.5;
}

#output {
  border: 0.15em solid white;
  border-radius: 0.20em;
  padding: 0.25em;
  margin: 0;
  font-size: 4em;
  display: inline-block;
}

label {
  font-family: monospace;
  text-transform: uppercase;
  font-size: 16px;
}

input[type=text] {
  padding: 0.5em;
  border-radius: 0.2em;
  font-size: 16px;
  border: 0;
  font-family: monospace;
  display: block;
}

.container {
  position: absolute;
  width: 270px;
  height: 300px;
  bottom: 0;
  left: 30%;
  margin-left: -135px;
  transform:
    perspective(1200px)
    rotateY(15deg);
  animation: approach 20s forwards;
  z-index: -100;
}

.pole {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -10px;
  width: 12px;
  height: 69px;
  background-color: #333;
  border-right: solid 5px #555;
  border-left: solid 5px #555;
  box-shadow: inset 0 0 10px #000;
}

.pole:before {
  content: "";
  display: block;
  height: 100%;
  border-left: dotted 4px #000;
  margin: 0 4px;
}

.outer, .inner {
  position: absolute;
  top: 40px;
}

.outer div {
  position: absolute;
  background-color: #fff;
  width: 270px;
  height: 112px;
}

.inner div {
  position: absolute;
  background-color: #b00;
  width: 256px;
  height: 106px;
  margin: 3px 7px;
}

.container div div:nth-child(1) {
  transform: rotate(90deg);
}

.container div div:nth-child(2) {
  transform: rotate(45deg);
}

.container div div:nth-child(3) {
  transform: rotate(-45deg);
}

.word {
  font-family: 'Tie-Regular', sans-serif;
  text-align: center;
  line-height: 106px;
  font-size: 60px;
  max-width: 6em;
  white-space: nowrap;
  word-break: break;
  color: #fff;
  overflow: hidden;
}

.shadow {
  position: absolute;
  top: -40px;
  bottom: 0;
  width: 270px;
}

@keyframes approach {
  100% {
    left: 50%;
    transform:
      perspective(1200px)
      rotateY(45deg);
  }
}
